pandas>=2.2
numpy>=1.26
torch>=2.2
pytest>=8.0
pytest-sugar>=0.9
pytest-cov>=5.0
scikit-learn>=1.4
pyarrow>=15
seaborn>=0.12
sentence_transformers>=2.4
timm>=0.9
requests>=2.31
matplotlib>=3.1
torchvision>=0.16
umap-learn>=0.5

